.mainFrame {
    position: relative;
    width: 1440px;
    height: 7648px;
    margin: 0 auto;
    background: #FFFFFF;
}

.header__logo{
    position: absolute;
    width: 58px;
    height: 24px;
    left: 148px;
    top: 42px;
    
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    position: absolute;
    width: 109px;
    height: 32px;
    left: 140px;
    top: 38px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.header__links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 446px;
    height: 24px;
    right: 497px;
    top: 40px;
}

.header__link{
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.icon__programmer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1122px;
    top: 40px;
}

.icon__message{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;
}

.icon__light{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 410px;
}

.header__title{
    position: absolute;
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.header__text{
    position: absolute;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;
    margin: 0px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}

.header__buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 452px;
    height: 56px;
    left: 494px;
    top: 480px;
}

.main__top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;

    position: absolute;
    width: 473px;
    height: 32px;
    left: 483px;
    top: 656px;
}

.main__photos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 1160px;
    height: 1984px;
    left: 140px;
    top: 728px;
}

.main-photos__sep{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1160px;
    height: 400px;
}

.main__Gigachad{
    position: absolute;
    width: 997px;
    height: 560px;
    left: 227px;
    top: 2832px;
}

.photo__Gigachad{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 73px;
}

.Gigachad__head{
    position: absolute;
    width: 478px;
    height: 64px;
    left: 513px;
    top: 80px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;

    color: #181818;
}

.Gigachad__text{
    position: absolute;
    width: 484px;
    height: 168px;
    left: 513px;
    top: 168px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.Gigachad-info__head{
    position: absolute;
    width: 484px;
    left: 513px;
    top: 400px;
    column-count: 4;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #181818;
}

.Gigachad-info__text{
    position: absolute;
    width: 484px;
    left: 513px;
    top: 440px;
    column-count: 4;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.icon__cup{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 448px;
}

.main__services{
    position: absolute;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 3512px;

    background: #181818;
}

.services__head{
    position: absolute;
    width: 156px;
    height: 64px;
    left: 642px;
    top: 120px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.services__variants{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    position: absolute;
    width: 1160px;
    height: 384px;
    left: 140px;
    top: 264px;
}

.variants__whiteRectangle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 368px;
    height: 384px;

    background: #FFFFFF;
    border-radius: 16px;
}

.variant__number{
    width: 288px;
    height: 24px;
    margin-top: 40px;
    margin-bottom: 8px;
    margin-left: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;
}

.variant__head{
    width: 288px;
    height: 24px;
    margin-bottom: 16px;
    margin-left: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.variant__text{
    width: 288px;
    height: 96px;
    margin-bottom: 56px;
    margin-left: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.variant__line{
    width: 80px;
    height: 0px;
    margin-bottom: 56px;
    margin-left: 40px;

    opacity: 0.2;
    border: 1px solid #181818;
}

.variant__price{
    width: 288px;
    height: 24px;
    margin-left: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
}

.costCounting__head{
    position: absolute;
    width: 446px;
    height: 64px;
    left: 497px;
    top: 4400px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.costCounting__box{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;

    position: absolute;
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.costCounting__inputField{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;

    width: 400px;
    height: 48px;
    margin-bottom: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.costCounting__checkBox{
    box-sizing: border-box;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
    top: 188px;

    border: 1px solid #808080;
    border-radius: 4px;
}

.costCounting__text{
    position: absolute;
    width: 331px;
    height: 48px;
    left: 56px;
    top: 184px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.costcounting__button{
    position: absolute;
    left: 24px;
    top: 272px;
}

.costCounting__programmer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1206px;
    top: 4655px;
}

.main__approximateCalculation{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;

    position: absolute;
    width: 400px;
    height: 384px;
    left: 520px;
    top: 4904px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.approximateCalculation__head{
    width: 352px;
    height: 64px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;

    color: #181818;
}

.approximateCalculation__text{
    width: 352px;
    height: 24px;
    margin-top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.approximateCalculation__result{
    width: 352px;
    height: 24px;
    margin-top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.approximateCalculation__button{
    position: absolute;
    top: 288px
}

.costCounting__watch{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 4532px;
}

.main__questAnswer{
    position: absolute;
    width: 1440px;
    height: 1232px;
    left: 0px;
    top: 5408px;

    background: #181818;
}

.questAnswer__head{
    position: absolute;
    width: 316px;
    height: 64px;
    left: 562px;
    top: 120px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.questAnswer__questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 1160px;
    height: 848px;
    left: 140px;
    top: 264px;
}

.questions__smallQuestion{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.questions__bigQuestion{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 328px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
}

.questions__head{
    width: 1080px;
    height: 24px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.questions__text{
    width: 800px;
    height: 120px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.questions__variants{
    width: 800px;
    height: 96px;
    margin: 0px;
    padding-left: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.request__head{
    position: absolute;
    width: 371px;
    height: 64px;
    left: 534px;
    top: 6760px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.request__text{
    position: absolute;
    width: 391px;
    height: 24px;
    left: 524px;
    top: 6832px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.request__box{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;

    position: absolute;
    width: 448px;
    height: 552px;
    left: 496px;
    top: 6936px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.request__inputField{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;

    width: 400px;
    height: 48px;
    margin-bottom: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.request__largeInputField{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;

    width: 400px;
    height: 160px;
    margin-bottom: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 16px;

    border: 1px solid #DBDBDB;
    border-radius: 8px; 
}

.request__button{
    position: absolute;
    left: 24px;
    top: 456px;
}

.request__programmer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;
}

.request__light{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 6774px;
}

.request__message{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;
}

.request__socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 24px;
    height: 104px;
    left: 984px;
    top: 6936px;
}

@font-face {
    font-family: "Raleway"; 
    font-style: normal; 
    font-weight: 500; 
    src: local("Raleway"), url("fonts/Raleway-Medium.ttf") format("truetype");    
} 

@font-face {
    font-family: "Raleway"; 
    font-style: normal; 
    font-weight: 600; 
    src: local("Raleway"), url("fonts/Raleway-SemiBold.ttf") format("truetype");    
} 

@font-face {
    font-family: "Raleway"; 
    font-style: normal; 
    font-weight: 400; 
    src: local("Raleway"), url("fonts/Raleway-Regular.ttf") format("truetype");    
}